# ==============================================================================
# Navigation
# ==============================================================================

alias ..="cd .."
alias ...="cd ../.."
alias -- -="cd -"

# ==============================================================================
# File Listing
# ==============================================================================

alias ls="ls -G"
alias l="ls -lhF"
alias la="ls -lAhF"

# ==============================================================================
# Search
# ==============================================================================

alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# ==============================================================================
# Git
# ==============================================================================

alias g="git"

# ==============================================================================
# System
# ==============================================================================

# Enable aliases to be sudo'ed
alias sudo='sudo '
