# ==============================================================================
# Navigation
# ==============================================================================

alias ..="cd .."
alias ...="cd ../.."
alias -- -="cd -"
alias src="cd ~/Documents/projects"

# ==============================================================================
# File Listing
# ==============================================================================

alias ls="ls -G"
alias l="ls -lhF"
alias la="ls -lAhF"

# ==============================================================================
# Git
# ==============================================================================

alias g="git"

# ==============================================================================
# System
# ==============================================================================

# Enable aliases to be sudo'ed
alias sudo='sudo '
